h1 {
    font-family: Arial;
    text-align: center;
    color: firebrick;
    text-shadow: 4px 4px #cccccc;
    font-style: italic;
   }
   p {
    margin: 20px;
    text-indent: 40px;
    background-color: aliceblue;
    color: #333333;
    font-size: 1.5em;
    font-family: Verdana;
    letter-spacing: 2px;
    line-height: 1.5em;
    word-spacing: 2px;
    

   }
   img {
    float: right;
    padding-left: 1px;
    margin-left:10px;
    visibility: visible;
   }
   ul{
    font-size: 24pt;
    font-family: Arial;
   }
   footer{
    font-size: 1em;
    color: #ff11ff
   }